{% extends 'base.html.twig' %}

{% block body %}
    <h1>page pour envoyer des fichier sur la bdd</h1>
    <form method="POST" enctype="multipart/form-data" action="/server/ajouteFichier">
        <input name="fichier" id="fichier" type="file"><br><br><br>
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
{% endblock %}